<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
    }
    .email-container {
      max-width: 600px;
      margin: 20px auto;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 5px;
      overflow: hidden;
    }
    .header {
      background-color: #0284c7;
      color: #ffffff;
      padding: 15px;
      text-align: center;
    }
    .logo {
      display: block;
      margin: 0 auto 10px;
      max-width: 150px;
    }
    .content {
      padding: 20px;
      color: #333333;
      line-height: 1.5;
    }
    .button {
      display: inline-block;
      margin: 20px 0;
      padding: 10px 15px;
      background-color: #0284c7;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
    }
    .footer {
      background-color: #f1f1f1;
      color: #666666;
      padding: 10px;
      text-align: center;
      font-size: 12px;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <div class="header">
      <img src="https://i0.wp.com/maino.com.br/wp-content/uploads/2021/11/Logo-Oficial.webp?fit=300%2C129&ssl=1" alt="Company Logo" class="logo">
      <h1>Password Reset Request</h1>
    </div>
    <div class="content">
      <p>Hello <%= @resource.email %>,</p>
      <p>Someone has requested a link to change your password. You can reset your password by clicking the button below:</p>
      <p>
        <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" class="button">Change My Password</a>
      </p>
      <p>If you didn't request this, you can ignore this email. Your password won't change until you access the link above and create a new one.</p>
    </div>
    <div class="footer">
      <p>&copy; 2025 Mainô. All rights reserved.</p>
    </div>
  </div>
</body>
</html>
